
@model BodyType
<div class="content-wrapper">
    <div class="row">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create New Category</h4>
                   
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            <input asp-for="Body" class="form-control" placeholder="Name">
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>
                      
                        <button type="submit" class="btn btn-success me-2">Create</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>